<html>
<body>
	<h1>Node Info</h1>
<p>Group: </p><p><%= pageContent %></p> 

<br>
<p>Notes: </p>

<form action = '/test3' method = 'post'>
	<input value = 'addInfo'></input>
	<input type='submit'></input>
</form>
</body>
</html>